.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #5cdb95;
}

h1 {
  margin: 30px;
  font-family: 'Patrick Hand', cursive;
  text-shadow: 5px 0 black;
  font-size: 8rem;
  color: #edf5e1;
}

p {
  font-size: 2rem;
  color: #edf5e1;
  font-family: 'Bree Serif', cursive;
  text-shadow: 3px 0 black;
}

img {
  width: 80%;
}
